<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
    
    <!-- Model classes must be compile time weaved -->
    <context:component-scan base-package="pl.touk.humantask.model" />      

    <context:spring-configured/>
    
    <bean id="htEntityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="htDataSource" />
        <!-- <property name="persistenceUnitManager" ref="persistenceUnitManager"/> -->
        <property name="jpaVendorAdapter" ref="htJPAVendorAdapter"/>
        <property name="persistenceXmlLocation" value="classpath:/htConfiguration/persistence.xml" />
        <property name="persistenceUnitName" value="TOUK-WSHT-PU"/>
    </bean>

    <bean id="taskDao" class="pl.touk.humantask.dao.impl.JpaTaskDao">
        <property name="entityManagerFactory" ref="htEntityManagerFactory" />
    </bean>

    <bean id="assigneeDao" class="pl.touk.humantask.dao.impl.JpaAssigneeDao">
        <property name="entityManagerFactory" ref="htEntityManagerFactory" />
    </bean>
   
	<bean id="humanTaskServices" class="pl.touk.humantask.HumanTaskServicesImpl">
		<property name="taskDao" ref="taskDao" />
		<property name="assigneeDao" ref="assigneeDao" />
        <property name="taskManager" ref="taskManager"/>
	</bean>

	<aop:aspectj-autoproxy proxy-target-class="false"/>
    
    <bean class="pl.touk.humantask.ws.TaskOperationsImpl" scope="prototype">
        <property name="taskDao" ref="taskDao"/>
    </bean>    
</beans>
